<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title slot="start">
      <ion-icon name="leaf-outline" size="large" color="primary"></ion-icon>
      <span class="app-title">Boilerplate</span>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="auth-content">
  <div class="auth-container">
    <ng-content></ng-content>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title size="small" class="footer-text">
      © 2023 Boilerplate. All rights reserved. v1.0.0
    </ion-title>
  </ion-toolbar>
</ion-footer>