ion-split-pane {
  --side-width: 280px;
}

ion-footer {
  --background: var(--ion-color-light);
  --color: var(--ion-color-medium);
}

.footer-text {
  text-align: center;
  font-size: 0.8rem;
  color: var(--ion-color-medium);
}